/* Header Style  */

@media screen and (max-width: 1200px) {
  .header {
    padding: 0rem 5rem 0 8rem;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    padding: 0rem 3rem 0 2.5rem;
  }
}
@media screen and (max-width: 700px) {
  .mobileMenuHandler {
    display: inline-block;
  }
}
@media screen and (max-width: 600px) {
  .header .searchForm .searchBox {
    border-radius: 1rem;
    width: auto;
  }
  .header .searchForm .searchPointer {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .header {
    min-height: 13rem;
    height: auto;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* End : Header Style  */

/* Navbar  */

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0rem 5rem;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    padding: 0rem 3rem 0 0;
  }

  .navbar .navLink {
    font-size: 1.8rem;
    padding: 0 2.2rem;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    padding: 0rem 2rem 0 0;
  }
  .navbar .navbarContainer {
    flex: 4;
  }
  .navbar .iconContainer {
    flex: 1;
  }

  .navbar .navLink {
    font-size: 1.6rem;
    padding: 0 1.8rem;
  }
  .navbar .iconContainer .iconLink {
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    display: none;
  }
  .navbar.active {
    height: 40rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2rem;
    display: flex;
  }
  .navbar.active .navbarContainer {
    flex-direction: column;
    flex-wrap: nowrap;
    border: 0.2rem solid var(--green150);
    display: block;
    width: 100%;
  }
  .navbar.active .navLink {
    line-height: 5rem;
  }
  .navbar.active .iconContainer {
    justify-content: center;
  }
}

/* End : Navbar  */

/* Home Section */
@media screen and (max-width: 1200px) {
  .home {
    width: 100%;
    padding: 8rem 2rem 3rem 1rem;
  }
  .home .container .image {
    flex: 1 1 50%;
  }
  .home .container .content {
    flex: 1 1 50%;
  }
  .home .container .content .title {
    font-size: 4rem;
    color: var(--black80);
    padding: 3rem 0;
    line-height: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  .home .container .image {
    flex: 1 1 45%;
  }
  .home .container .content .title {
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .home .container .image {
    flex: 1 1 40%;
  }
  .home .container .content .subTitle {
    font-size: 2rem;
    color: var(--grey);
  }
  .home .container .content .title {
    font-size: 2.2rem;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  .home {
    padding: 6rem 1rem;
  }
  .home .container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .home .container .image {
    flex: 1 1 40%;
  }
  .home .container .content .subTitle {
    font-size: 2rem;
    color: var(--grey);
  }
  .home .container .content .title {
    font-size: 2.2rem;
    padding: 1rem 0;
  }
}
@media screen and (max-width: 300px) {
  .home .container {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .home .container .image {
    flex: 1 1 40%;
  }
  .home .container .content .subTitle {
    font-size: 1.4rem;
    color: var(--grey);
  }
  .home .container .content .title {
    font-size: 1.4rem;
    padding: 1rem 0;
  }
}

/* End: Home Section */

/* Banner Section */

@media screen and (max-width: 1200px) {
  .banner {
    padding: 5rem 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 700px) {
  .banner .container {
    flex-flow: column;
    align-items: normal;
    justify-content: unset;
    gap: 2rem;
    flex-wrap: nowrap;
  }
}

/* End: Banner Section */
/*  Category Section */
@media screen and (max-width: 1200px) {
  .category {
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .category .container .box {
    flex-basis: 48%;
    margin: 0 1% 1% 0;
  }
}
@media screen and (max-width: 600px) {
  .category .sectionTitle {
    font-weight: 700;
    font-size: 4rem;
  }
  .category .sectionTitle span {
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit;
  }
  .category .container .box {
    flex-basis: 95%;
    margin: 0 1% 2rem 0;
  }
  .category .container .box .content .subTitle {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

/* End: Category Section */
