/** Header Style  **/
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/* topbar  */
.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--grey240);
  padding: 1rem 20rem;
}
.logo a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo .icon {
  color: var(--green200);
  font-size: 4rem;
}
.logo .logoTitle {
  font-size: 2.2rem;
  margin-left: 1rem;
  font-weight: 600;
  color: var(--black80);
}
.searchBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.searchBox input[type="search"],
.searchBox input[type="search"]:focus {
  font-size: 2rem;
  padding: 2rem;
  border: 0.1rem solid var(--grey200);
  border-radius: 1rem 0 0 1rem;
  outline: none;
}
.searchBox input[type="search"]:focus {
  border-color: var(--green150);
}
.searchBox label {
  background: var(--green200);
  padding: 2rem;
  border-radius: 0 1rem 1rem 0;
  color: var(--white);
  font-size: 2.5rem;
}
.mobileMenuHandler {
  display: none;
}
/* navbar */
.navbar {
  background: var(--white);
  box-shadow: 0 0 0.2rem 0.3rem var(--grey240);
  padding: 2rem 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbarContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 9;
}
.navItem {
  display: inline-block;
  padding-right: 4rem;
  font-size: 1.8rem;
}
.iconContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.iconContainer .icon {
  font-size: 2.2rem;
  color: var(--grey);
}
.iconContainer .icon:nth-child(2) {
  color: var(--black50);
}
.iconContainer .icon:nth-child(3) {
  color: var(--black);
}
/** End: Header Style  **/
